/* --- login ---- */
.form-control{
    width:100%;
}
.logPasCont{
    padding-right: 20%;
    padding-left: 20%;
}

/* --- intestazione ---- */
.heightIntest{
    padding:100px;
    background-color: #f7f2f2;
    text-align: center;
    font-family:"Arial", CURSIVE;
    font-size: 450%;
}

/* --- navbar ---- */
a{
    color: black;
    --bs-nav-link-hover-color:pink;
    text-decoration: none;
}
a:hover {
    color: pink; /* Cambia il colore del testo in rosa */
    border-color: pink;
}

#textFamily{
    font-family: "Helvetica";
}










/* --- img ---- */
.size-image{
    max-width: 100%;
    height: 100%
}  



/* --- footer ---- */
footer{
    padding-top: 4rem; /* margine interno */
    padding-bottom: 5rem; /* margine interno */
    margin-top: 6rem; /* margine da quello che c'è sopra */
    min-height: 15rem; /* grandezza del footer in altezza */
    background-color: #f7f2f2;
}
footer .bi{
    width: 3em;
    height: 3em;
    color: black;  
}
footer .bi:hover{
    color: pink;  
}
footer .link a{
    text-decoration: underline;
    color:black;
}
footer .link a:hover{
    text-decoration: underline;
    color:pink;
}
.textcop{
    color:black;
}

